*{
    margin: 0px;
    padding: 0px;
}

/*logo*/

section h1{
    font-size: 32px;
}

#logo{
    color: salmon;
}

body{
    max-width: 900px;
    background: lightblue;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}
#options{
    margin-top: 40px;
}

.option{
    background-color: lightsalmon;
    margin: 5px 20px 0px 20px;
    padding: 0px;
    display: inline-block;
    width: 220px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(51, 50, 50, 0.3);
}

.option img{
    width: 50%;
    margin-top: 20px;
}

.option h1{
    margin: 0px;
}

.option:hover{
    background-color: salmon;
    cursor: pointer;
}

/*Controladores de audio*/
#audio-control{
    background: salmon;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    width: 100px;
    filter: opacity(0.3);
}

#audio-control img{
    margin: 0px;
}

#audio-control:hover{
    filter: opacity(1);
}

#audio-play{
    width: 25px;
}

#audio-play:hover{
    cursor:pointer;
}

#audio-stop{
    width: 25px;
}

#audio-stop:hover{
    cursor:pointer;
}

.audio-btn{
    padding: 5px 0px 0px 5px;
}
